<div class="container">
    <h1>Detalhes do Painel</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">Nome:</label>
            <div class="controls">
                <input type="text" id="inputNome" ng-model="painel.nome"/>
            </div>
        </div>
        
        <div class="control-group">
            <div class="controls">
              
                <a ng-click="cancel()" class="btn btn-small">Cancelar</a>
                <a ng-click="updatePainel()" class="btn btn-small btn-primary">Gravar</a>
            </div>
        </div>
    </form>
</div>

